@import "tailwindcss";

@theme {
  --color-primary: #258BA1;
  --color-menuActiveColor: #025263;
  --color-bgLight: #f5f9fa;
  --color-textLight: #4B5768;
  --color-tableLightBorder: #E1E8ED;
  --color-tableDarkBorder: #b8b6b6;
}

body{
  box-sizing: border-box;
}

/* Remove Scroll Bars */
.sidebar::-webkit-scrollbar{
  display: none;  
}

input , .MuiPickersInputBase-root{
  height: 40px !important;
  padding: 10px 15px !important;
  /* border: 1px solid var(--color-tableDarkBorder) !important; */
  border-radius: 6px !important;
  font-size: 14px !important;
  color: var(--color-textLight) !important;
  font-weight: 500 !important;
}

input::placeholder , .MuiPickersInputBase-root::placeholder{
  color: var(--color-tableDarkBorder) !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

input:focus, .MuiPickersInputBase-root.Mui-focused:focus{
  outline: none !important;
  border-color: var(--color-primary) !important;
  box-shadow: 0 0 5px var(--color-primary) !important;
}

