@import "tailwindcss";

@theme {
  --color-primary: #258BA1;
  --color-menuActiveColor: #025263;
  --color-bgLight: #f5f9fa;
  --color-textLight: #4B5768;
}

body{
  box-sizing: border-box;
}

/* Remove Scroll Bars */
.sidebar::-webkit-scrollbar{
  display: none;  
}