@import "tailwindcss";

@theme {
  --color-primary: #258BA1;
  --color-menuActiveColor: #025263;
  --color-bgLight: #f5f9fa;
  --color-textLight: #4B5768;
  --color-tableLightBorder: #E1E8ED;
  --color-tableDarkBorder: #b8b6b6;
}

body{
  box-sizing: border-box;
}

/* Remove Scroll Bars */
.sidebar::-webkit-scrollbar{
  display: none;  
}

input {
  height: 40px;
  padding: 10px 15px;
  border: 1px solid var(--color-tableDarkBorder);
  border-radius: 6px;
  font-size: 14px;
  color: var(--color-textLight);
  font-weight: 500;
}

input::placeholder {
  color: var(--color-tableDarkBorder);
  font-weight: 400;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary);
}
